<xen:if is="{$show_multimods}">
    <div class="pageNavLinkGroup">
        <div class="linkGroup">
            <li class="navTab inbox Popup PopupControl PopupClosed">
                <a href="{xen:link threads/get-multimods, $thread}" rel="Menu" class="navLink NoPopupGadget">{xen:phrase multimods}
                    <span class="arrowWidget"></span>
                </a>

                <div class="Menu" id="MultiModMenu"
                     data-contentSrc="{xen:link 'threads/get-multimods', $thread}"
                     data-contentDest="#MultiModMenu .listPlaceholder">

                    <div class="menuHeader primaryContent">
                        <h3>{xen:phrase multimods}</h3>
                    </div>

                    <div class="listPlaceholder"></div>

                </div>
            </li>
        </div>
    </div>
</xen:if>